div.container {
  margin: 3rem;
  .moreCard {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 6rem 0;

    button {
      padding: 0.5rem 0.75rem;
      font-size: 1.5rem;
      border: none;
      border-radius: 20px;
      background-color: #0e492d;
      color: antiquewhite;
      cursor: pointer;
    }
  }
}
