div.container {
  margin: 2.5rem;
  div.banner-wrapper {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 380px);
    grid-gap: 1rem;
    grid-template-areas:
      "main main main main"
      "left left right right";
    div.main-banner {
      grid-area: main;
      div.main-info {
        padding: 8rem 4rem;
        .banner-title {
          color: $textColor;
          font-size: 2.5rem;
        }

        .banner-description {
          color: $textColor;
          font-size: 1.5rem;
        }
      }
    }
    .sub-banner {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
    }
    .sub-banner-left {
      grid-area: left;
      .banner-title,
      .banner-description {
        color: $textColor;
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
    .sub-banner-right {
      grid-area: right;
      .banner-title,
      .banner-description {
        color: $themeColor;
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
  }
  h2 {
    text-align: center;
    font-size: 2.5rem;
    color: $textColor;
  }
  div.adoption-wrapper {
    margin: 3rem;
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    box-shadow: 5px 10px 12px 0px rgba(0, 0, 0, 0.4);
    img.adoption-image {
      width: 100%;
      background-size: cover;
      height: 330px;
    }
    div.adoption-info {
      display: grid;
      justify-items: start;
      align-items: center;
      padding: 1.2rem;
      .title {
        font-size: 2.8rem;
        color: $textColor;
        margin-top: 3.3rem;
      }
    }
  }
}
